<%- include("header") -%>

<table class="table">
	<tbody>
		<% artists.forEach((artist) => { %>
			<tr><td><a href="/artist/<%= artist.id %>"><%= artist.artistname %></a></td></tr>
		<% }); %>
	</tbody>
</table>

<%- include("footer") -%>